# Backend configurations
PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=ticket_booking
DB_PORT=3306
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretkeyforbookingapp
FORCE_DB_INIT=true

# Frontend configurations
PORT_FRONTEND=3000
